.portfólio-descrição-modal-card9 p {
  color: #e1e1e6;
  line-height: 1.5;
}
/* Modal ===================== */

.modal-overlay-card9 {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
  overflow: auto;
}

.modal-overlay-card9.active {
  opacity: 1;
  visibility: visible;
  /* transition: all 0.1s ease 0.1s; */
}

.modal-card9 {
  background-color: #1a191c;
  color: #ffffff;
  width: 90%;
  max-width: 1170px;
  border-radius: 0.5rem;
  z-index: 1;
}
/* sessão dos portfolio-modal */
.portfolio-modal-card9 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row-modal-card9 {
  flex-direction: row;
  background: transparent;
}

.cards_portfolio_modal-card9{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  padding: 0;
}

.cards_portfolio_modal-card9 li {
  max-width: 1170px;
  flex: 1 2 329px;
  height: 100%;
  border-radius: 2px;
  padding: 2px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolio-imagem-modal-card9{
  text-align: center;
  padding: 30px;
  background: transparent;
  align-self: center;
}

.portfolio-imagem-modal-card9 .imagem-modal-card9 {
  max-width: 100%;
  width: 609px;
  display: block;
  border-radius: 2px;
}

.card-titulo-modal-card9 {
  background: transparent;
  max-width: 400px;
}
.card-titulo-modal-card9 h2 {
  max-width: 100%;
  padding: 0px 30px 0;
  background: transparent;
}

.portfólio-descrição-modal-card9 {
  max-width: 100%;
  height: 120px;
  padding: 30px;
  background: transparent;
}

.descrição-card-modal-card9 {
  background: transparent;
}

.portfólio-descrição-modal-card9 .saiba-mais-modal-card9 {
  color: #b07dfb;
  font-size: 0.8rem;
  float: right;
  margin: 20px;
}

.row-modal-card9 span {
  position: absolute;
  top: 10px;
  right: 25px;
}

.portfólio-descrição-modal-card9 img {
  bottom: 50px;
  right: 50px;
  padding: 4px;
  transform: translatey(7px);
}

@media (max-width: 1192px) {
  .modal-card9 {
    align-self: flex-start;
    margin-bottom: 60px;
    margin-top: 60px;
  }
}
