@media (max-width: 1030px) {
 .img-Leo1 {
    display: none;
  }
}

@media (max-width: 956px) {

  #whatsappIcone,
  .img-Leo1 {
    display: none;
  }

  .header-descrição .img-Leo1 {
    display: none;
  }
}

@media (max-width: 1167px) {
  .navbar ul li:nth-child(6) {
    display: none;
  }
  .navbar ul li:nth-child(7) {
    display: none;
  }
}

@media (max-width: 597px) {
  .container .icones_sociais ul li {
    display: none;
  }
  .header-descrição input {
    align-self: center;
  }
  .header-descrição h1 {
    font-size: 2.5em;
  }
  .header-descrição h1{
    margin:0;
  }
  .header-descrição p {
    margin-left: 0;
  }

}

@media (max-width: 540px) {
  /* .container ul li {
    display: none;
  } */
  .header-descrição input {
    align-self: center;
  }
  .container .header-descrição h1 {
    font-size: 2.5em;
  }
}

@media (max-width:500px){
  .container-header {
flex-wrap: nowrap;
  }
}

@media (width: 540px) {
  .container ul li {
    display: none;
  }
  .header-descrição input {
    align-self: center;
  }
  .container .header-descrição h1 {
    font-size: 2.5em;
  }
}

@media (max-width: 956px) {
  .sobre-section .descrição {
    background-color: transparent;
  }
  .sobre-section {
    background-color: transparent;
    margin-left: 30px;
  }

  .sobre-section .descrição h1 {
    margin-left: 0;
    margin-top: 30px;
  }
  .sobre-section .descrição p {
    margin-left: 0;
  }
}

@media (max-width: 1030px) {

  .sobre-section {
    background-color: transparent;
    justify-content: left;
  }
  .sobre-section .descrição {
    background-color: transparent;
  }

  .habilidades {
    margin-top: 490px;
  }
  .sobre-section .download {
margin: 0 auto;
transform: translatex(-35px);
  }
  
}


@media (max-width: 741px) {
  .bg_serviços_box {
    margin-top: 880px;
  } 

  .serviços_box h1 {
    margin-top: -500px;
    padding-top: 40px;
  }

  .cards {
    margin-top: -560px;
  }

  .cards .left_box {
    padding-top: 100px;
  }

  .formacao_adademica .img2 {
    transform: translate(-440px, 65px);
  }
}

@media screen and (max-width: 900px) {
  footer {
    position: relative;
    bottom: 0px;
  }
  .main-content {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box_footer {
    margin: 5px 0;
  }
}

@media (max-width: 363px) {
.saiba_mais ul .saiba-li2  {
  display: flex;
  align-self: left;
  margin-left: 0;
  margin-bottom: 0;
}
}
@media (max-width: 363px) {
.saiba_mais ul .saiba-li2 a{
margin-top: 10px;
margin-left: 0;
}
}

@media (max-width: 363px) {
  .saiba_mais ul .saiba-li1  {
    display: flex;
    align-self: left;
    margin-left: 0;
    margin-bottom: 0;
  }
  }
  @media (max-width: 363px) {
  .saiba_mais ul .saiba-li1 a{
  margin-top: 10px;
  margin-left: 0;
  }
  .bg_serviços_box {
    margin-top: 960px;
  } 
  }

  @media (max-width: 291px) {
  .bg_serviços_box {
    margin-top: 1020px;
  } 
}

@media (max-width:834px){
  .cards .right_box {
margin-top: 0px;
  }
}

@media (max-width: 304px){
  .habilidades {
    margin-top: 510px;
  }
}

@media (max-width: 266px){
  .habilidades {
    margin-top: 530px;
  }
}

@media (max-width: 256px){
  .habilidades {
    margin-top: 570px;
  }
}