.container-header{
  /* background: turquoise; */
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.container-header .icones_sociais {
  margin-top: 30px;
  padding-bottom: 30px;
  /* padding-left: 30px; */
}

.container-header .icones_sociais ul li {
  height: 50px;
  margin-top: 20px;
  padding-bottom: 30px;
}

.header-descrição {
  display: block;
max-width: 100%;
  /* background: tomato; */
  /* margin-top: 40px; */
}

.header-descrição h1 {
  margin: 0px 30px 30px 30px;
  font-size: 3em;
  letter-spacing: 0.5rem;
  align-self: left;
}

.header-descrição h1::before {
  content: '';
  display: block;
  width: 152px;
  height: 1px;
  background: var(  --color-cinza-titulo);
  margin: 8px auto;
  transform: translateX(-130px);
}

.header-descrição p {
  display: block;
  max-width: 80%;
  margin-top: 30px;
  margin-left: 60px;
  width: 440px;
  align-self: left;
}

.header-descrição input {
  margin: 30px;
  margin-left: 60px;
  margin-top: 60px;
  height: 45px;
  width: 135px;
  padding: 13px;
  font-size: 1em;
  border-radius: 4px;
  border: 2px solid var(--color-lilas-botao);
  align-self: left;
  text-align: center;
  line-height: 0.5rem;
}

.header-descrição input:hover{

  background: var(--color-lilas-botao);
  transition: 0.3s;
} 

 .img-Leo1 {
  /* width: 400px;
  height: 400px; */
  max-width: 100%;
  position: absolute;
  right: 0px;
  margin-right: 0px;

}
