/* barra menu hamburguer*/
.navbar {
  background: var(--color-preto-background);
  font-weight: bold;
  height: 110px;
  width: 100%;
  margin-top: 30px;
}

.navbar ul {
  float: lef;
}
.navbar ul li {
  display: inline-block;
  line-height: 40px;
  margin: 0 5px;
  letter-spacing: 0.05em;
  /* background: tomato; */
}

.navbar ul li a::after{
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  /* margin-bottom: 17px; */
  background: var(--color-cinza-titulo);
  transform: translateX(7px);
}

.navbar ul li .telefone::after {
  background: transparent;
  }

.navbar ul li:nth-child(6) {
  margin-left: 430px;
}

.navbar ul li:nth-child(6) {
transform: translateY(-40px);
}

.navbar ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}

@media (max-width: 858px) {

  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
    z-index: 1;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: var(--color-cinza-titulo);
  }
  .navbar ul li a::after{
    background: transparent;
  }
}

.menuHmaburger{
  float: right; 
  margin-right: 15px;
}